/* 공통 CSS */
.box {
    position: relative;
    padding: 10px 0;
    max-width: 600px;
    margin: auto;
}

.box:after {
    display: block;
    content: "";
    clear: both;
}

.box label {
    display: block;
    width: 100%;
    height: 15px;
    font-weight: bold;
}

.box input {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    transition: .2s ease;
    border-radius: 5px;
}

.box input:hover {
    border: 1px solid #424242;
}

.box input:focus {
    border: 1px solid #f83938;
}

.box.captcha .variable {
    position: absolute;
    left: 0;
    right: 160px;
}

.box.captcha .variable input {
    width: 100%;
}

.box.captcha img {
    width: 148px;
    height: 38px;
    float: right;
    border: 1px solid #aaa;
    cursor: pointer;
    transition: .2s ease;
}

.box.captcha img:hover {
    border: 1px solid #424242
}

.box.btn button {
    width: 100%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    transition: .2s ease;
    border-radius: 5px;
}

.box.btn button:hover {
    background-color: #424242;
    color: #fff;
}

.box.link {
    text-align: right;
}

.box.link a {
    color: #424242;
    text-decoration: none;
    margin-left: 10px;
    transition: .2s ease;
}

.box.link a:hover {
    color: #f83938;
}